/* You can add global styles to this file, and also import other style files */

body {
    background-color: #F1F1F1;
}

.bg-adminccdr-primary {
    background-color: #00782E;
}

.img-50 {
    height: 50px;
    width: 80px;
}

.bg-login-image {
    background-image: url("./assets/img/ccdr.png");
}